{% load static %}
<!-- {% load static %} static 찾게 도와줌 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- jquery 자바 스크립트 쓰겠다.-->
    <script src="{% static 'jquery-3.6.1.min.js' %}"></script>
</head>

<body>
    <h3><a href="/list">List</a> ({{boardCount}}) / <a href="/write_form">추가하기</a></h3>

    <!-- 검색기능 -->
    <form action="/list" method="get">
        <select name="field" id="field">
            <option value="title">제목</option>
            <option value="writer">작성자</option>
            <option value="conten">내용</option>
            <option value="all">제목+작성자+내용</option>
            <script>
                // document.getElementById("field").value = "{{field}}"
                // val
                $("#field").val("{{field}}")
            </script>
        </select>
        <input type="text" name="word" placeholder="Search" value="{{word}}" />
        <input type="submit" value="검색" />
    </form>
    </br>


    <table border="1" style="text-align: center">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
                <th>첨부파일</th>
                <th>파일이미지</th>
                <th>다운로드</th>
            </tr>
        </thead>
        <tbody>
            {% for board in boardList %}
            <tr>
                <td>{{board.idx}}</td>
                <td><a href="/detail_idx?idx={{board.idx}}">{{board.title}}</a>
                    //뒤에 레스트 방식
                    <a href="/detail/{{board.idx}}">{{board.title}}</a>
                </td>
                <td>{{board.writer}}</td>
                <td>{{board.post_date}}</td>
                <td>{{board.hit}}</td>
                <td>{{board.filename}}</td>
                <td>{% if board.filesize > 0 %}
                    <span class="_imgs" data-url="/download_count?idx={{board.idx}}">
                        <img src="{% static 'images/file.jpg' %}">
                    </span>
                    {% endif %}
                </td>
                <td class="downCnt">{{board.down}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
    <!-- [이전] 456[다음] -->

    <!-- 이전 -->
    {% if startPage > blockPage %}
    <a href="?page={{startPage|add:-3}}&field={{field}}&word={{word}}">이전</a>
    {% endif %}

    <!-- 페이지 번호 -->
    {% for i in range %}
    {% if i == currentPage %}
    {{i}}


    {% else %}
    <a href="?page={{i}}&field={{field}}&word={{word}}">{{i}}</a>

    {% endif %}
    {% endfor %}
    <!-- 다음 -->
    <!-- ?page{{endPage|add:1}} 엔드 페이지에 1을 더한다. -->
    {% if endPage < totPage %} <a href="?page={{endPage|add:1}}&field={{field}}&word={{word}}">다음</a>
        {% endif %}
        <script>
            // 이미지 아래이미지도 인식하게
            // 현재 객체 this
            // "GET"방식으로 'data-url'주소로 넘어가라
            $("._imgs").on("click", function () {
                _imgs = $(this);
                $.ajax({
                    type: "GET",
                    url: $(this).attr('data-url'),
                    success: function (data) {
                        // alert(data.count)
                        // 다운로드를 위해서
                        // 부모 parent 에 부모에 downCnt를 찾아서 그 영역의 text를 가져와라
                        // location.href = "/download?idx=" + data.idx;
                        // url로 가라는 뜻 유알엘로 가면 뷰가 실행될 것임
                        _imgs.parent().parent().find(".downCnt").text(data.count);
                        location.href = "/download?idx=" + data.idx;
                    },
                });
            });


        </script>
</body>

</html>