{% extends 'base.html' %}
{% load static %}
{% load board_filter %}
{% block content %}
<!-- form-inline mr-3 오른쪽으로 가로 정렬하고 마진 3으로 준다. -->
<div class="container">
    <div class="d-flex justify-content-end">
        <form action="/list_page" method="get" class="form-inline mr-3">
            <input type="text" class="form-control mr-sm-1" id="word" placeholder="Enter Search" name="word"
                value="{{word}}">
            <button type="submit" class="btn btn-secondary">Search</button>
        </form>
    </div>
    <h2>BOARD ({{boardCount}})</h2>
    <p>board list 입니다. 파일을 다운로드 받을 수 있습니다.</p>
    <table class="table table-hover" style="text-align: center">
        <thead>
            <tr>
                <th>번호</th>
                <th>writer</th>
                <th>title</th>
                <th>날짜</th>
                <th>조회수</th>
                <th>첨부파일</th>
                <th>다운로드수</th>
            </tr>
        </thead>
        <tbody>
            {% for board in page_list %}
            <tr>
                <td>{{rowNo|sub:forloop.counter0}}</td>
                <td>{{board.writer}}</td>
                <td><a href="/detail_id?id={{board.id}}">{{board.title}}</a></td>
                <td>{{board.post_date | date:'Y-m-d'}}</td>
                <td>{{board.hit}}</td>
                <td>{% if board.filesize > 0 %}
                    <span class="_imgs" data-url="/download_count?id={{board.id}}">
                        <img src="{% static 'images/download.svg' %}" style="width: 20px; cursor: pointer;">
                    </span>

                </td>
                {% endif %}
                <td class="_downCnt">{{board.down}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- 페이지 번호 -->
    <ul class="pagination" style="justify-content: center">
        {% if page_list.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{page_list.previous_page_number}}&word={{word}}">이전</a>
        </li>
        {% endif %}

        {% if page_list.has_next %} <li class="page-item"><a class="page-link"
                href="?page={{page_list.next_page_number}}&word={{word}}">다음</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}

<!-- 자바스크립트 start -->
{% block script %}
<script>
    $("._imgs").on("click", function () {
        _imgs = $(this)
        $.ajax({
            url: $(this).data('url'), //url: $(this).attr('data-url'),
            type: "GET",
            success: function (data) {
                _imgs.parent().parent().find("._downCnt").text(data.count)
                location.href = "/download?id=" + data.id
            },
            error: function (e) {
                alert(e)
            }
        })
    })
</script>
{% endblock %}